{% extends "layout.html" %}

{% block body %}

  <span style="float: right">
    {% if username %}
      <a href={{ url_for("edit_wiki", wiki_page=wiki_page_) }}>edit</a>|
      {{ username }}|
      <a href={{ url_for("logout", wiki_page=wiki_page_) }}>logout</a>
    {% else %}
      <a href={{ url_for("login", wiki_page=wiki_page_) }}>login</a>|
      <a href={{ url_for("signup", wiki_page=wiki_page_) }}>signup</a>
    {% endif %}
  </span>

<ul class="entries">
  {% for entry in entries[:10] %}
    <li>
      <h2>
        <a href="{{ url_for('blog_entry_id', entry_id=entry.key().id()) }}">
          {{ entry.subject }}
        </a>
        <span style="float: right">{{ entry.created.date() }}</span>
      </h2>
      <p style="width:65ch">{{ entry.content }}</p>
      <br>
  {% else %}
    <li>
      <em>No entries so far.</em>
  {% endfor %}
</ul>

<footer>
  <p>Queried {{ qt_lag }} seconds ago</p>
</footer>

{% endblock %}

